.red {
    color: #930203;
}
.yellow {
    color: #E5ED0F;
}

.blue {
    color: #397CC4;
}

body{
    background-color:#252525;
    color: #ffffff;
    font-family: Arial;
    margin: 10px;
    padding: 10px;
}

a {
    color:  #E5ED0F;
}

.boldtext {
    font-weight: bold;
}

#MyHeader {
    text-align: center;
}

#HorizontalList li {
    text-align: center;
    display: inline;
    width: 100%;
    margin-right: 10px;
}

#HorizontalList {
    width: 100%;
    height: 20px;
    background-color:  #397CC4;
}